head {
    color:blue;
    font-size:20;
}

body {
    color:blue;
    font-size:20;
    background-color:azure;
}

h1 {
    color: black;
    size: 30;
    display: flex;
    justify-content: center;
}

h2 {
    color:red;
    font-size: 30;
}